body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, "\5FAE\8F6F\96C5\9ED1", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

b,
em {
    font-style: normal
}

a {
    text-decoration: none;
    transition: all .2s ease-in-out
}

a:hover {
    text-decoration: underline;
    color: #ff8700;
}

img {
    border: 0;
    display: block;
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol,
td,
th,
ul {
    padding: 0
}

ol,
ul {
    list-style: none
}

body {
    background: #fff
}

a,
a:hover {
    text-decoration: none
}

a:focus {
    outline: 0
}

.cf:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden
}

.hide {
    display: none
}

.ishow {
    display: block !important
}

.ht {
    text-indent: -9999px;
    overflow: hidden
}

.ie-tips {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: #ffffe9;
    color: #1e5494;
    border-bottom: 1px solid #e6e6c6;
    text-align: center;
    line-height: 50px;
    font-size: 12px;

}



@font-face {
    font-family: 'eurostilenextpro-bold';
    src: url('../font/eurostilenextpro-bold.eot');
    src: url('../font/eurostilenextpro-bold.eot?#iefix') format('embedded-opentype'),
        url('../font/eurostilenextpro-bold.woff') format('woff'),
        url('../font/eurostilenextpro-boldt.ttf') format('truetype'),
        url('../font/eurostilenextpro-bold.svg#EurostileNextPro-Bold') format('svg');
}