@font-face {
    font-family: 'eurostilenextpro-bold';
    /* src: url('eurostilenextpro-bold.eot');
    src: local('eurostilenextpro-bold Regular'),
        local('eurostilenextpro-bold'), */
    src: url('./eurostilenextpro-bold.woff') format('woff');
    /* url('eurostilenextpro-bold.ttf') format('truetype'),
        url('eurostilenextpro-bold.svg#feurostilenextpro-bold a') format('svg'); */
}

/*其中fontName替换为你的字体名称*/
h1 {
    font-family: eurostilenextpro-bold
}